<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Minimal App</title>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<link rel="stylesheet" href="static/style.css">
<script>
function handleFileUpload(event) {
  console.log(event)
  window.file = event.target.files[0];
}
</script>
<style type="">
/* Project-based */
.img_extr {
  max-width: 100px;
  height: auto;
}
</style>
</head>

<body>
<div class="container-fluid", style="background-color:rebeccapurple;">
  <div class="container text-centre", style=" padding:10px">
    <div class="row">
      <div class="col-10">
        <h3 class="display-4 white-header">Minimal App</h3>
        <p></p>
      </div>
      <div class="col-2 text-right">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="mainComponent" style="background-color:white;">
  <div class="container" style=" padding:10px;">
    <div class="row">
      <div class="col-12">

        <!-- Project-based -->
        <div class="d-flex flex-row">
          <ul class="list-unstyled w-100">
            <p v-if="result.length === 0">No items.</p>
            <item-cont v-if="result.length > 0" v-for="item in result" :item="item"></item-cont>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>


<script>
/* Project-based */
Vue.component("img-cont", {
  props: [
    "item"
  ],
  data () {
    return {}
  },
  template: `<a :href="'http://localhost:8001/' + item" title="" target="_blank" rel="noopener">
    <img class="img_extr" :src="'http://localhost:8001/' + item" alt="" />
  </a>
  `
});

Vue.component("item-cont", {
  props: [
    "item"
  ],
  data () {
    return {}
  },
  template: `<li class="media w-100 m-2 p-2 border rounded bg-light">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">
        {{"{{ item.file_name }}"}}
        <span class="badge"
        :class="{
          'badge-success': item.process_status === 'FINISHED',
          'badge-secondary': item.process_status !== 'FINISHED'
        }">{{"{{ item.process_status }}"}}</span>
      </h5>
      <p>{{"{{ item.uuid }}"}}</p>
      <div>
        <img-cont v-for="item in JSON.parse(item.processed_body)" :item="item"></img-cont>
      </div>
    </div>
  </li>
  `
});

mainComponent = new Vue({
  el: "#mainComponent",
  data () {
    return {
      text: "Please put your text here",
      textID: null,
      loading : false,
      result: [],
      outText: "",
    }
  },
  methods: {
    logger(level, func, ...msg) {
      console.log(`[${level}]${func}: `, ...msg)
    },
    fetchResult(uuid) {
      let vm = this;
      timeOutPeriod = 50;
      tryToGetText = function () {
        axios.get(`/documents/get?uuid=${uuid}`)
        .then(response => {
          if (response.data.status === "FAILED") {
            vm.loading = false;
            alert("document does not exist");
          } else if (response.data.result.length == 0) {
            console.log("document not ready")
            setTimeout(tryToGetText, timeOutPeriod);
            if(timeOutPeriod <= 5000)
            timeOutPeriod = timeOutPeriod * 2
          } else {
            vm.loading = false;
            let result = response.data.result
            vm.logger("DEBUG", "tryToGetText", "hi", result)
            vm.outText = JSON.stringify(result)
            vm.result = JSON.parse(result[0]["processed_body"])
          }
        })
        .catch(err => {
          alert(err)
        })
      }
      tryToGetText()
    },
    submitFile(event) {
      event.preventDefault();
      let vm = this;
      vm.$set(this, "result", []);
      vm.$set(this, "text", "");
      vm.$set(this, "outText", "");
      console.log(`vm.result: ${vm.result}`)

      let formData = new FormData();
      formData.append("textline", document.querySelector("textarea[name='textline']").value);
      formData.append("user_id", document.querySelector("input[name='user_id']").value);
      formData.append("file", window.file);

      axios.post( "/documents/new", formData, {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      })
      .then(function(response) {
        if (response.data.result.length) {
          console.log("SUCCESS!");
          let item = response.data.result[0]

          vm.textID = item["id"]
          console.log(item["id"])
          vm.fetchResult(item["uuid"])
        } else {
          console.log("FAILURE!");
        }

      })
      .catch(function(err) {
        console.log("FAILURE!", err);
      });
    }
  },
  created () {
    let vm = this;

    axios.get("/documents/status")
      .then(function(response) {
        if (response.data.result.length) {
          console.log("SUCCESS!");
          let item = response.data.result

          vm.$set(vm, "result", item)
        } else {
          console.log("FAILURE!");
        }

      })
      .catch(function(err) {
        console.log("FAILURE!", err);
      });
  }
})
</script>


</body>
